{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{ item.name }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <section>
    <div class="description">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <h5>Price: ${{ item.price }}</h5>
    </div>
    <button id="buy-button" data-item-id="{{ item.id }}">Buy</button>
  </section>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const publicKey = "{{ STRIPE_PUBLIC_API_KEY }}";

    document.getElementById("buy-button").addEventListener("click", function () {
      var itemId = this.getAttribute("data-item-id");

      fetch("/buy/" + itemId)
        .then(response => response.json())
        .then(data => {
          var sessionId = data.session_id;
          var stripe = Stripe(publicKey);

          stripe.redirectToCheckout({ sessionId: sessionId }); 
        })
        .catch(error => {
          console.error("Internal server error: ", error); 
        });
    });
  </script>

</body>

</html>
